PORT=5000
MONGO_URI=mongodb://Pratik:pratik1809@ac-19znmwr-shard-00-00.7h9yfli.mongodb.net:27017,ac-19znmwr-shard-00-01.7h9yfli.mongodb.net:27017,ac-19znmwr-shard-00-02.7h9yfli.mongodb.net:27017/EventEra?ssl=true&replicaSet=atlas-10w6oa-shard-0&authSource=admin&appName=Pratik
EMAIL_USER = pratikakharkar1809@gmail.com
EMAIL_PASS = YQLU9098C